* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Poppins, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #EFEFEF;
}

.header-text {
    font-weight: bold;
    font-size: 80px;
    background-image: linear-gradient(
        to right,
        #00BF63,
        #7ED957 35%,
        #0CC0DF 65%,
        #0097B2 
    );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 1));
    margin-top: -80px;
    /* margin-bottom: 10px; */
}

.main-text {
    color: white;
}

.theme-diabetes {
    background-color: #00BF63;
}

.theme-diabetes:hover {
    background-color: #008042;
    cursor: pointer;
}

.theme-heart {
    background-color: #DF6565;
}

.theme-heart:hover {
    background-color: #651515;
    cursor: pointer;
}

.theme-cancer {
    background-color: #0097B2;
}

.theme-cancer:hover {
    background-color: #073056;
    cursor: pointer;
}

.style-about {
    font-size: 24px;
    box-shadow: unset;
}

.style-about:hover {
    cursor: pointer;
    width: unset;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    height: 3rem;
    width: 300px;
    border-radius: 47px;
    font-weight: 550;
    font-size: 28px;
    border: 0;
    box-shadow: 3px 6px 6px gray;
}